@import "@/styles/variables.scss";
@import "@/styles/breakpoints.scss";

.NavigationWrapper {
  position: relative;

  &Inner {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    
    &Card {
      position: relative;
      
      &Nav {
        padding: 3px;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        column-gap: 20px;
        backdrop-filter: blur(3px);
        background: #11111100;
        border-radius: 40px;

        &Cta {
          cursor: pointer;
          padding: 5px;
        }
      }

      &Player {
        justify-self: flex-end;

        @include media-breakpoint-down (md) {
          width: 100%;
        }
      }
    }
  }
}