@import '@/styles/breakpoints.scss';

.GernericAlbumHeroWrapper {
  position: relative;

  &RowTitle {
    display: flex;
    align-items: center;
  }

  &HeroBack {
    position: relative;
    border-radius: 8px;
    overflow: hidden;

    @include media-breakpoint-down (md) {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 160px;
    }

    img {
      position: relative !important;
      max-width: 200px;
      width: 100%;
      height: auto;
    }
  }

  &Info {
    position: relative;
    margin-left: 40px;
    font-size: 12px;
    z-index: 2;

    @include media-breakpoint-down (md) {
      margin-left: -70px;
      padding: 20px 0px 20px 20px;
      background-color: #11111170;
      backdrop-filter: blur(40px);
      border-radius: 8px;
      min-height: 200px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;
    }

    &Type {
      text-transform: capitalize;
    }

    &Title {
      font-size: 24px;
      line-height: 1.3;
      letter-spacing: -.32px;
      text-wrap: balance;
      max-width: 600px;
      margin-bottom: 0;

      @include media-breakpoint-up (lg) {
        font-size: 34px;
        line-height: 42px;
      }
    }

    &Description {
      font-size: inherit;
      max-width: 500px;
      margin-bottom: 0;
    }

    &Release {
      font-size: inherit;
      margin-top: 5px;
    }
  }

  &Controllers {
    padding-top: 30px;
    display: flex;
    align-items: center;

    &Line {
      margin-left: 30px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}