.imageFitWrapp {
  position: relative;
  width: 100%;
  padding-bottom: 100%;

  img {
    visibility: hidden;
    position: absolute;
    z-index: -1;
  }

  div {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}