@import "@/styles/variables.scss";

.volumeWrapp {
  position: relative;
  width: 100%;
  max-width: 120px;

  
  &Content {
    width: 100%;
    display: flex;
    align-items: center;
    
    &Horizontal {
      position: relative;
    }
    
    &Vertical {
      // flex-direction: column;

      // & > input {
      //   min-height: 50px;
      //   height: 100%;
      //   width: 5px;
      // }
    }

    &Input {
      margin-left: 8px;
      width: 100%;
      cursor: pointer;
    }
  }
}