@import "@/styles/variables.scss";

.playlistWrapp {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  color: #c1c1c1;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 10px;
  padding: 4px;
  width: 100%;

  &Inner {
    &Media {
      position: relative;
      border-radius: 8px;
      overflow: hidden;

      &Player {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 2;
        backdrop-filter: blur(4px);
        border-radius: 20px;
        padding: 5px;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #11111160;
          border-radius: 20px;
          transform: scale(1);
          transition: transform 200ms ease;
        }

        &:hover {
          &::before {
            transform: scale(1.06);
            transition: transform 200ms ease;
          }
        }

        & .is-playing {
          opacity: 0;
        }

        & svg {
          width: 14px;
          height: 14px;
        }
      }
    }

    &Title {
      margin-top: 16px;
      font-weight: 500;
      color: #fff;
      max-width: 300px;
    }

    &SubTitle {
      margin-top: 8px;
      font-size: 12px;
      color: #c1c1c1;
    }
  }
}