@import "@/styles/breakpoints.scss";

.artist-page {
  .track {
    &-position {
      @include media-breakpoint-down (sm) {
        display: none;
      }
    }
    .track-inner {
      &-content {
        margin-left: -40px;
      }
    }
  }
}