@import "../variables.scss";

.modal {
  --bs-modal-bg: var(--bs-body-bg);
  backdrop-filter: blur(18px);
  background-color: #62626228;

  .modal-dialog {
    position: relative;

    .modal-content {
      border-radius: 8px;
      background-color: map-get($colors, $key: "black");
      color: map-get($colors, $key: "white");
      // box-shadow: 0 0 15px 4px map-get($colors, $key: full-black);

      .modal-body {
        padding: 0;
      }
    }
  }
}