@import "../variables.scss";

.modal {
  // --bs-modal-zindex: 1055;
  // --bs-modal-width: 500px;
  // --bs-modal-padding: 1rem;
  // --bs-modal-margin: 0.5rem;
  // --bs-modal-color: ;
  --bs-modal-bg: var(--bs-body-bg);
  // --bs-modal-border-color: var(--bs-border-color-translucent);
  // --bs-modal-border-width: var(--bs-border-width);
  // --bs-modal-border-radius: var(--bs-border-radius-lg);
  // --bs-modal-box-shadow: var(--bs-box-shadow-sm);
  // --bs-modal-inner-border-radius: calc(var(--bs-border-radius-lg) - (var(--bs-border-width)));
  // --bs-modal-header-padding-x: 1rem;
  // --bs-modal-header-padding-y: 1rem;
  // --bs-modal-header-padding: 1rem 1rem;
  // --bs-modal-header-border-color: var(--bs-border-color);
  // --bs-modal-header-border-width: var(--bs-border-width);
  // --bs-modal-title-line-height: 1.5;
  // --bs-modal-footer-gap: 0.5rem;
  // --bs-modal-footer-bg: ;
  // --bs-modal-footer-border-color: var(--bs-border-color);
  // --bs-modal-footer-border-width: var(--bs-border-width);
  backdrop-filter: blur(18px);
  background-color: #62626228;


  .modal-dialog {
    position: relative;

    .modal-content {
      border-radius: 8px;
      background-color: map-get($colors, $key: "black");
      // box-shadow: 0 0 15px 4px map-get($colors, $key: full-black);

      .modal-body {
        padding: 0;
      }
    }
  }
}