@import "../variables.scss";

.modal {
  --bs-modal-bg: var(--bs-body-bg);
  backdrop-filter: blur(18px);
  background-color: #62626228;

  .modal-dialog {
    position: relative;

    .modal-content {
      border-radius: 8px;
      background-color: map-get($colors, $key: "full-black");
      color: map-get($colors, $key: "white");
    }
  }
}