@import "../variables.scss";

.offcanvas {
  background-color: map-get($colors, $key: "full-black");
  --bs-offcanvas-width: 500px;
  --bs-offcanvas-height: 100vh;
  --bs-offcanvas-padding-x: 20px;
  --bs-offcanvas-padding-y: 20px;
  border-radius: 18px;

  &-backdrop {
    backdrop-filter: blur(12px);
    background-color: #00000047;

    &.show {
      opacity: 1;
    }
  }

  &.offcanvas-end {
    inset: 14px;
    left: inherit;
  }
  
  &.offcanvas-start {
    inset: 14px;
    right: inherit;
  }

  &-header {
    color: map-get($colors, $key: "white");

    .btn-close {
      width: 25px;
      height: 25px;
      margin-left: auto;
    }
  }
}