@import "@/styles/variables.scss";

.swiper {
  --swiper-theme-color: #1ed760;
  .swiper-pagination {
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-inactive-color: #fff;
    --swiper-pagination-bottom: 0;
    --swiper-pagination-bullet-horizontal-gap: 8px;
    position: relative;
    text-align: start;
    
    &.swiper-pagination-bullets-dynamic {
      left: 5%;
      transform: translate(-50%);
    }
  }
}