@import "@/styles/variables.scss";

.CategoryWrapp {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  color: #c1c1c1;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 10px;
  padding: 4px;
  width: 100%;

  &Inner {
    &Media {
      position: relative;
      border-radius: 8px;
      overflow: hidden;
    }

    &Title {
      margin-top: 16px;
      font-weight: 500;
      color: #fff;
      max-width: 300px;
    }

    &Type {
      position: absolute;
      bottom: 6px;
      left: 6px;
      border-radius: 8px;
      padding: 3px 12px;
      background-color: #6c757d2e;
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(3px);
      font-size: 10px;
      text-transform: capitalize;
      font-weight: 500;
      z-index: 2;
      color: white;
      box-shadow: 0 0 6px #000;
    }
  }
}