@import "@/styles/variables.scss";

.SliderNavigation {
  height: 100%;
  
  &Container {
    overflow: visible !important;
    width: 90%;
    height: 100%;
    
    &Slider {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
      color: #fff;
      background-color: map-get($colors, $key: "muted");
      
      // &Placeholder {
        //   height: 100%;
        // }

      :global(.swiper-slide-shadow) {
        backdrop-filter: blur(10px);
      }
      
      &Loader {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: map-get($colors, $key: "black");
        // background-color: map-get($colors, $key: "muted");
      }

      &Image {
        height: 100%;
        padding-bottom: initial !important;
        border-radius: 18px;
      }

      &Image,
      &Placeholder {
        &::after {
          content: "";
          position: absolute;
          // top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
          z-index: 2;
          height: 50%;
          pointer-events: none;
        }
      }
    }
  }
}