@import "./bootstrap-override.scss";
@import "./variables.scss";
@import "./typography.scss";
@import "./helpers.scss";
@import "./animations.scss";
@import "./toast.scss";

// pages
@import "./pages/index.scss";
// components
@import "./components/index.scss";


html {
  body {
    background-color: map-get($colors, $key: black);
    color: map-get($colors, $key: "white");
    margin: 0;
  }
  
  .main-container {
    position: relative;
    display: block;
    
    .navigation-bar {
      padding: 20px 30px 20px 130px;
      position: fixed;
      top: 0;
      z-index: 990;
      width: 100%;
      max-height: 100px;

      @include media-breakpoint-down (lg) {
        display: none;
        // position: fixed;
        // backdrop-filter: blur(2px);
        // background-color: rgba(0, 0, 0, 0.822);
        // width: calc(100% - 20px);
        // left: 10px;
        // top: inherit;
        // bottom: 20px;
        // border-radius: 14px;
        // padding: 20px 15px;
      }
    }

    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      backdrop-filter: blur(2px);
      background-color: rgba(0, 0, 0, 0.053);
      z-index: 991;
      padding: 25px 0;
      width: 100px;

      @include media-breakpoint-down (lg) {
        backdrop-filter: blur(2px);
        background-color: rgba(0, 0, 0, 0.822);
        width: calc(100% - 20px);
        left: 10px;
        top: inherit;
        bottom: 30px;
        border-radius: 14px;
        padding: 15px;
        max-height: 80px;
        height: auto;
      }
    }

    .content {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      padding-top: 130px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 100px;
      overflow-x: hidden;
      
      @include media-breakpoint-up (lg) {
        padding-left: 130px;
        padding-right: 50px;
        padding-top: 100px;
      }

      @include media-breakpoint-down (sm) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}