@import "@/styles/breakpoints.scss";

.image-fit-wrapp {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.link-indent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  text-indent: -999991px;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  &-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }

  &-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }
}

.page-background {
  position: fixed !important;
  inset: 0 !important;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.explicit {
  display: inline-block;
  padding: 0 5px;
  max-height: 15px;
  background-color: map-get($colors, $key: "muted");
  color: map-get($colors, $key: "black");
  font-weight: 600;
  font-size: 10px;
  border-radius: 2px;
}

.page-section {
  padding: 30px 0;
  
  @include media-breakpoint-up (lg) {
    padding: 50px 0;
  }
}

.section-title {
  font-weight: 500;
  color: map-get($colors, $key: muted);
}