p {
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 600;
}

.w-400 {
  font-weight: 400;
}

.w-500 {
  font-weight: 500;
}

.w-600 {
  font-weight: 600;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.bg-grey {
  background-color: map-get($colors, $key: "grey");
}

.cl-white {
  color: map-get($colors, $key: "white");
}

.cl-grey {
  color: map-get($colors, $key: "grey");
}

.text-muted {
  color: map-get($colors, $key: "muted") !important;
}

.cl-green {
  color: map-get($colors, $key: "green");
}

.fill-green {
  fill: map-get($colors, $key: "green") !important;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.hover-anim {
  position: relative;
  transition: all 200ms ease-in-out;

  &::after {
    content: "";
    position: absolute;
    transition: all 200ms ease-in-out;
    background-color: rgb(45 45 45);
    inset: 0;
    padding: 5px;
    border-radius: 30px;
    z-index: -1;
    opacity: 0;
  }

  &:hover {
    &::after {
      content: "";
      inset: -10px;
      opacity: 1;
      transition: all 200ms ease-in-out;
    }
  }
}