$colors: (
  "full-black": #000,
  "black": #111,
  "white": #fff,
  "muted": #c1c1c1,
  "grey": rgba(#fff, 0.4),
  "green": #1ed760,
  "green-dark": #0c8637
);

$transition: cubic-bezier(0.7, 0.44, 0.39, 0.99);