@use "@/styles/variables.scss" as variables;
@import "@/styles/breakpoints.scss";
@import "@/styles/components/popover.scss";

.Options {
  position: relative;

  &Modal {
    &Body {
      &Content {
        position: relative;

        &Loader {
          top: 30px;
          margin: 0 auto;
        }
        
        &ListTop {
          overflow: unset !important;
          margin-bottom: 10px !important;
          border-bottom: 1px solid rgba(map-get($colors, $key: "white"), 0.2);
          li {
            padding: 15px 12px !important;
          }
        }

        &List {
          max-height: inherit !important;
          max-height: 600px;
          height: 100%;

          &Item {
            position: relative;
            &Image {
              width: 60px;
              height: 60px;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              img {
                width: 100% !important;
                height: auto !important;
              }
            }
          }

          &Track {
            position: sticky !important;
            bottom: 0;
            margin: 0 !important;
            background: #4a4a4a;
            padding: 20px 12px !important;
            border-radius: 8px !important;
          }
        }
      }
    }
  }
}