@import "@/styles/variables.scss";
@import "@/styles/breakpoints.scss";

.recapPlayerWrapp {
  position: relative;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 10px 30px;
  overflow: hidden;

  &Image {
    position: relative;
    // background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    z-index: 2;
    // height: 100%;
    margin: 0 15px 0;
    border-radius: 8px;
    // overflow: hidden;
    height: 100%;
    // padding-bottom: 100%;

    & > div {
      z-index: 1;
      // position: absolute;
      // top: 0;
      // left: 0;
      // right: 0;
      // bottom: 0;
      // background-size: cover;
      // background-repeat: no-repeat;
      // background-position: center;
    }

    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    //   z-index: 1;
    // }
  }

  &Content {
    position: relative;
    margin-top: auto;
    flex-grow: 0;
    padding: 25px 0 0;
    // z-index: 3;
    // margin-top: -80px;
    // border-top-right-radius: 40px;
    // border-top-left-radius: 40px;
    // background-color: rgba(17, 17, 17, 0.4392156863);
    // backdrop-filter: blur(40px);

    margin: -50px 0 0;
    // border-top-right-radius: 40px;
    // border-top-left-radius: 40px;
    border-radius: 18px;
    background-color: map-get($colors, $key: "full-black");
    // box-shadow: 0 0 10px #111;

    &Track {
      display: grid;
      position: relative;
      z-index: 3;
      padding: 0 25px;
      column-gap: 5px;

      &Title {
        font-size: 18px;
        grid-area: 2/1/2/1;
        font-weight: 500;
        color: map-get($colors, $key: "white");
      }

      &Artist {
        grid-area: 3 / 1 / 3 / 1;
        line-height: 1;
        a {
          font-size: 12px;
          color: map-get($colors, $key: "muted");
        }
      }

      &Like {
        grid-area: 2/2/span 3/2;
        justify-self: flex-end;
        align-self: center;
      }
  
      &Controllers {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }

    &Controllers {
      display: grid;
      padding: 0 25px 25px;
      // background: linear-gradient(0deg, black, transparent);
      overflow: hidden;

      & svg {
        width: 25px;
        height: 25px;
      }
    }

    &Trackers {
      margin-top: 40px;
      display: grid;
      align-items: center;
      grid-template-columns: auto repeat(3, 1fr) auto;
      column-gap: 15px;
    }

    &Progress {
      margin-top: 20px;
      color: white;
    }

    &Devices {
      margin-top: 30px;
      display: grid;
      align-items: center;
      grid-template-columns: auto auto 1fr;
      column-gap: 25px;

      & svg {
        width: 20px;
        height: 20px;
      }
    }

    &Actions {
      justify-self: center;
      &Volume {
        justify-self: flex-end;
      }
    }
  }
}